.header-text {
  font-family: futura;
  font-size: 48px;
  font-weight: bold;
  color: #d2d2d2;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: -3px -3px 6px rgba(255, 255, 255, 0.7),
    3px 3px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  padding: 0;
}

.chop-text {
  font-family: futura;
  font-size: 60px;
  font-weight: bold;
  color: #414141;
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
  max-width: 800 px;
  background: #e0e0e0;
  height: 100vh;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.2),
    inset -8px -8px 16px rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.chop-shuffle {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 1em;
}
.play-pause button {
  /* padding: 10px 20px; */
  font-size: 14px;
  cursor: pointer;
  border-radius: 1em;
}
.row {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.waveform {
  width: 90%;
  height: 120px;
  margin: 10px;
  background: #e0e0e0;
  border-radius: 15px;
  box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px rgba(255, 255, 255, 0.7);
  overflow: hidden;
  position: relative;
}
.bpm-container {
  /* background-color: #00ffbb; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.bpm-container input {
  width: 50px;
}
/* #waveform {
  position: relative;
  z-index: 10;
  /* width: 100%;
  height: 100%; */
/* margin-bottom: 50px; */
/* overflow: hidden; */
/* } */

.zoom-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.zoom-container button {
  font-size: 0.8em;
  cursor: pointer;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.zoom-container span {
  font-size: 16px;
  font-weight: bold;
}

input[type='file'] {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button[type='submit'] {
  border: 1px solid #000;
  border-radius: 1em;
  font-size: 12px;
  width: auto;
  height: auto;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }

  .controls button,
  .controls input,
  .controls select {
    width: 100%;
    max-width: 300px;
  }
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #e0e0e0;
  border-radius: 50%;
  border: none;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button img {
  width: 30px;
  height: 30px;
}
button:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2),
    -4px -4px 6px rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}
button:active {
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px rgba(255, 255, 255, 0.7);
  transform: scale(0.95);
}

.file-upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-file-label {
  background: #e0e0e0;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: futura;
  font-size: 14px;
  color: #414141;
}
.custom-file-label:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2),
    -4px -4px 6px rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}
.custom-file-label:active {
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px rgba(255, 255, 255, 0.7);
  transform: scale(0.95);
}

.file-input {
  display: none;
}

.file-name {
  font-size: 14px;
  color: #414141;
  background: #f9f9f9;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px rgba(255, 255, 255, 0.7);
  font-family: futura;
}

.bpm-division-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bpm-container,
.division-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bpm-label,
.division-label {
  background: #8cafcb;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  font-family: futura;
  font-size: 14px;
  color: #414141;
}

.bpm-input,
.division-select {
  font-family: futura;
  font-size: 14px;
  color: #414141;
  background: #f9f9f9;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  width: auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.bpm-input:hover,
.division-select:hover {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
}

.bpm-input:focus,
.division-select:focus {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.01);
}
